services:
  postgres:
    image: postgres:15-alpine
    container_name: weather_postgres
    environment:
      POSTGRES_DB: weather_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  weather-service:
    build: .
    container_name: weather_service
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - OPENWEATHERMAP_API_KEY=${OPENWEATHERMAP_API_KEY}
      - CITY=${CITY:-Moscow}
      - REQUEST_INTERVAL_MINUTES=${REQUEST_INTERVAL_MINUTES:-5}
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=weather_db
      - DB_USER=postgres
      - DB_PASSWORD=postgres


volumes:
  postgres_data:
